# Node.js / React
node_modules/
build/
dist/
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment & secrets
.env
*.env

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE/editor
.vscode/
.idea/
